<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TutorialNinja Automation Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Acer/Documents/GitHub1/HybridTestNgProject">
        <classes>
            <class name="com.tutorialsninja.qa.testcases.Register"/>
            <class name="com.tutorialsninja.qa.testcases.Login"/>
            <class name="com.tutorialsninja.qa.testcases.Search"/>
        </classes>
    </test>
</suite>


